html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  margin: auto;
}
.content{
  max-width:1000px;
  margin: auto;
}
.header{
  background-color: #F76902;
  --nextui--navbarBlurBackgroundColor: 'transparent';
  --nextui--navbarBlur: 0px;
}
.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: var(--nextui--navbarBlurBackgroundColor);
  backdrop-filter: none;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
Layout{
  margin:0;
}
.alertIcon{
  height:30px;
  width: 30px;
  background-color: #ff0000;
  border-radius: 50%;
  display:inline-block;
  color:white;
  text-align:center;
  position:relative;
  right:30px;
  bottom:10px;
}
.unstyled-button{
  border:none;
}